@font-face {
  font-family: Centra;
  src: url(./assets/font/CentraNo2-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url(./assets/font/CentraNo2-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url(./assets/font/CentraNo2-Book.ttf);
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

body p,
body a,
body li,
body button,
body ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

body img {
  width: 100%;
  height: auto;
}

body button {
  border: 0;
  background-color: transparent;
}

body input:focus,
body textarea:focus,
body select:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #151515;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(37, 37, 37);
}


nav.navbar {
  padding: 18px 0px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

.logo img {
  width: 30%;
  margin: 0 25px;
}

@media (min-width: 200px) {
  .logo img {
    width: 60%;
    margin: 0 10px;
  }
}

@media (min-width: 992px) {
  .logo img {
    width: 40%;
    margin: 0 14px;
  }
}

@media (min-width: 1200px) {
  .logo img {
    width: 30%;
    margin: 0 25px;
  }

}

nav.navbar a.navbar-brand {
  width: 9%;
}

/* Default styles */
.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 22px;
  font-size: 18px;
  opacity: 0.9;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 12px;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 3px;
    opacity: 0.9;
  }
}

@media (max-width: 576px) {
  .navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 10px;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 3px;
    opacity: 0.9;
  }
}


nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

nav.navbar.scrolled {
  padding: 6px 0;
  background-color: #121212;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 35px;
  height: 35px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.social-icon a img {
  width: 45%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

@media (max-width: 768px) {
  .social-icon a {
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }

  .social-icon a img {
    width: 35%;
  }
}

@media (max-width: 576px) {
  .social-icon a {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .social-icon a img {
    width: 30%;
  }
}


.navbar-text button a {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  padding: 6px 20px;
  margin-left: 8px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}


.navbar-text button span {
  z-index: 1;
}

.navbar-text button a:not(:hover) {
  color: #fff;
}

.navbar-text button a::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button a:hover {
  color: #121212;
}

.navbar-text button a:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon::before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded=true] .navbar-toggle-icon {
  border-color: transparent;
}

/* Default styles */
.banner {
  margin-top: 0;
  padding: 200px 0 100px 0;
  background-image: url("./assets/img/Grid.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Responsive styles */
@media (max-width: 768px) {
  .banner {
    padding: 200px 0 80px 0;
    /* Adjust padding for smaller screens */
  }
}

@media (max-width: 576px) {
  .banner {
    padding: 200px 10px 60px 10px;
    /* Further adjust padding for even smaller screens */
  }
}


.banner wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}


/* Default styles */
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8;
  line-height: 1;
  margin-bottom: 80px;
  display: block;
}

/* Responsive styles */
@media (max-width: 768px) {
  .banner h1 {
    font-size: 50px;
    /* Adjust font size for smaller screens */
    margin-bottom: 60px;
    /* Adjust margin for smaller screens */
  }
}

@media (max-width: 576px) {
  .banner h1 {
    font-size: 45px;
    /* Further adjust font size for even smaller screens */
    margin-bottom: 100px;
    /* Further adjust margin for even smaller screens */
  }
}


/* Default styles */
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.8em;
  width: 96%;
}

@media (max-width: 768px) {
  .banner p {
    font-size: 16px;
    /* Adjust font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .banner p {
    font-size: 12px;
    /* Further adjust font size for even smaller screens */
  }
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 50px; /* Adjusted margin-top value */
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.txt-rotate {
  position: absolute;
  min-height: 100px; /* Added min-height property */
  height: auto; /* Changed height to auto */
}

.text-rotate > .wrap {
  border-right: 0.08em solid #666;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.skill {
  padding: 0 0 50px 0;
  position: relative;
}


.skill .skill-bx {
  background: #151515;
  border-radius: 65px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}


@media (max-width: 576px) {
  .skill .skill-bx {
    background: #151515;
    border-radius: 40px;
    text-align: center;
    padding: 50px 30px;
    margin-top: -60px;
  }
}

.skill .skill-bx h2 {
  font-size: 45px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .skill .skill-bx h2 {
    font-size: 45px;
    font-weight: 700;
  }
}

@media (max-width: 576px) {
  .skill .skill-bx h2 {
    font-size: 38px;
    font-weight: 700;
  }
}

.skill .skill-bx p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

@media (max-width: 768px) {
  .skill .skill-bx p {
    color: #b8b8b8;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 12px 0 62px 0;
  }
}

@media (max-width: 576px) {
  .skill .skill-bx p {
    color: #b8b8b8;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 10px 0 50px 0;
  }
}

.skill .skill-bx .skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill .skill-bx .skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.skill .background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

.project {
  padding: 120px 0;
  position: relative;
  background-color: black;
  background-image: url("./assets/img/Grid.svg");
}

@media (max-width: 1024px) {
  .project {
    padding: 100px 0;
    position: relative;
    background-color: black;
    background-image: url("./assets/img/Grid.svg");
  }
}

@media (max-width: 576px) {
  .project {
    padding: 80px 0;
    position: relative;
    background-color: black;
    background-image: url("./assets/img/Grid.svg");
  }
}

.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}


@media (max-width: 576px) {
  .project h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
  }
}

.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

@media (max-width: 1024px) {
  .project p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 80%;
  }
}

@media (max-width: 576px) {
  .project p {
    color: #b8b8b8;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 70%;
  }
}

.project .nav.nav-pills {
  width: 52%;
  margin: 0 auto;
  border-radius: 50px;
  /* border: 2px white; */
  background-color: rgba(255, 255, 255, 0.028);
  overflow: hidden;
}

@media (max-width: 1024px) {
  .project .nav.nav-pills {
    width: 70%;
    margin: 0 auto;
    border-radius: 50px;
    /* border: 2px white; */
    background-color: rgba(255, 255, 255, 0.028);
    overflow: hidden;
  }
}

@media (max-width: 576px) {
  .project .nav.nav-pills {
    width: 75%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.028);
    overflow: hidden;
  }
}

.project .nav.nav-pills .nav-item {
  width: 50%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 16px 0;
  color: #fff;
  width: 100%;
  font-size: 18px;
  letter-spacing: 0.6px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}


@media (max-width: 1024px) {
  .project .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 16px 0;
    color: #fff;
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.6px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
  }
}

@media (max-width: 576px) {
  .project .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 16px 0;
    color: #fff;
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.6px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
  }
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgb(255, 255, 255);
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 55px 55px 0px;
}


.proj-imgbx {
  position: relative;
  overflow: hidden;
  margin-top: 18px;
  margin-bottom: 18px;
}


@media (max-width: 576px) {
  .proj-imgbx {
    position: relative;
    overflow: hidden;
    margin: 18px 18px 18px 10px;
  }
}


.proj-imgbx .proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 90%;
}

.proj-imgbx .proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  margin-bottom: 4px;
}


@media (max-width: 1024px) {

  .proj-imgbx .proj-txtx h4 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {

  .proj-imgbx .proj-txtx h4 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1.1em;
    margin-bottom: 10px;
  }
}

.proj-imgbx .proj-txtx span {
  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.8px;
}

@media (max-width: 1024px) {
  .proj-imgbx .proj-txtx span {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 576px) {
  .proj-imgbx .proj-txtx span {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.8px;
  }
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.project-text button a {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  padding: 6px 20px;
  margin-bottom: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

@media (max-width: 576px) {
  .project-text button a {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 20px;
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }
}

.project-text button a {
  color: #fff;
}

.project-text button span {
  z-index: 1;
}

.project-text button a::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project-text button a:hover {
  color: #121212;
}

.project-text button a:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}



.background-img-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

.contact {
  background: #121212;
  /* background: linear-gradient(45deg, #121212, #343434); */
  padding: 40px 0 40px 0;
}

.contact img {
  width: 72%;
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #d1d1d1;
  /* border-radius: 20px; */
  color: #fff;
  margin: 0 0 8px 0;
  padding: 12px 20px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.08em;
  transition: all 0.3s ease;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #000000;
}

.contact form button {
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 22px;
  font-size: 18px;
  /* margin-left: 18px; */
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.contact form button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.contact form button:hover {
  color: #121212;
}

.contact form button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.footer {
  padding: 70px 0 70px 0;
  background-image: url("./assets/img/footer-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  width: 26%;
}

.footer h6 {
  font-weight: 800;
  font-size: 20px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer span {
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  line-height: normal;
}

.footer span a{
  color: #b8b8b8;
}
.footer span a:hover{
  color: #c2c2c2;
}

.footer-icon {
  display: inline-block;
  margin-left: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.footer-icon a {
  width: 38px;
  height: 38px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.footer-icon a img {
  width: 42%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.footer-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.footer-icon a:hover::before {
  transform: scale(1);
}

.footer-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
